#baseImg {
    display: none;
}

#bigDiv {
    position: absolute;
    top: 100px;
    left: 100px;
}

#workshopDiv {
    display: block;
    float: left;
}

#toolsDiv {
    padding-left: 20px;
    display: block;
    float: left;
}