/*
    Important, start:
    make sure the workshop canvas
    perfectly covers on the image
*/
#baseImg {
    position: absolute;
    top: 0;
    left: 0;
}

#dataForm {
    display: none;
}

#workshop {
    position: relative;
    top: 0;
    left: 0;
}
/*
    Important, end
*/

#bigDiv {
    position: relative;
    top: 100px;
    left: 100px;
}

#workshopDiv {
    display: block;
    float: left;
}

#toolsDiv {
    padding-left: 20px;
    padding-top: 20px;
    display: block;
    float: left;
}